@{
    ViewData["Title"] = "Relatório Atividade do Usuário";
}
<div id="wrapper">

    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <!-- Container Fluid-->
            <div class="container-fluid" id="container-wrapper">
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Registro de Atividade</h1>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Home</a></li>
                        <li class="breadcrumb-item">Registro de Atividades</li>
                    </ol>
                </div>

                <!-- Row -->
                <div class="row">
                    <!-- DataTable with Hover -->
                    <div class="col-lg-12">
                        <div class="card mb-4">


                            <form method="post" asp-action="Relatorio_LogUsuario">


                                <div class="row">

                                    <div class="form-group col-2">
                                        <label>Período Inicial</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fas fa-calendar"></i></span>
                                            </div>
                                            <input name="Inicio" type="date" class="form-control" value="@DateTime.Today.ToString("yyyy-MM-dd")" placeholder="Período Inicial">

                                        </div>
                                    </div>


                                    <div class="form-group col-2">
                                        <label>Período Final</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fas fa-calendar"></i></span>
                                            </div>
                                            <input name="Fim" type="date" class="form-control" value="@DateTime.Today.ToString("yyyy-MM-dd")" placeholder="Período Final">

                                        </div>
                                    </div>



                                    <div class="form-group col-2">
                                        <label>Confirmar</label>
                                        <div class="input-group">
                                            <button accesskey="s" type="submit" class="btn btn-outline-primary pb-2">
                                                <i class="fas fa-book"></i> Gerar
                                            </button>
                                        </div>
                                    </div>

                                </div>

                            </form>

                        </div>

                    </div>
                </div>
                <!--Row-->




            </div>
            <!---Container Fluid-->
        </div>


    </div>
</div>
